.container-register {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    width: 100%;
    padding: 30px;
    background-color: #394867;
    border-radius: 20px;
    box-shadow: 6px 7px 4px #3c475a;
    margin-top: 10px;
}

.enter-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: #F1F6F9;
    position: relative;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.register-container>button {
    width: 100%;
    height: 40px;
}

.or {
    color: #9BA4B5;
}

.form-item>label {
    color: white;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.transition {
    background-color: transparent;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.transition.effect {
    z-index: 1;
    animation-name: register-transition;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes register-transition {
    from {
        background-color: transparent;
    }

    to {
        background-color: white;
    }
}