<ul class="list-group list-group-flush">
    {% if not object %}
    <p class="text-center">Selecione uma sala...</p>
    {% else %}
    {% if object.messages.count > 0 %}
    {% for message in object.messages.all %}
    <li class="list-group-item border-button-0">
        <div class="d-flex justify-content-between">
            <div class="content">
                <b>@{{message.user}}</b>: {{message.text}}
            </div>
            <div class="time">
                {{message.created_at}}
            </div>
        </div>
    </li>
    {% endfor %}
    {% else %}
    <p class="text-center">Nenhuma mensagem enviada...</p>
    {% endif %}
    {% endif %}
</ul>